* {
    margin: 0;
    padding: 0;
}

body {
    font-family: open sans;
}

.dashboard .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    /*background: #231f20;*/
}

.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    background-color: coral;
    outline-style: groove;
    /* transform: translateX(-180px);*/
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.dashboard .side-nav .log {
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    line-height: 90px;
    border-bottom: 1px dotted white;
    margin-bottom: 50px;
    background-color: snow;
    border-color: chocolate;
}

ul li {
    list-style: none;
    text-align: left;
    padding: 5px 0;
    margin-left: 25px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    line-height: 55px;
    /* }
    .dashboard .side-nav ul li{*/
    display: block;
    font-weight: 900;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.dashboard .side-nav ul li:hover {
    /*background-color:wheat;*/
    transition: 2s;
    font-size: 18px;
}

ul li:hover {
    color: chocolate;
    border-radius: 20px;
    width: auto;
}

ul li i {
    width: 40px;
    text-align: center;
}
 
i {
    margin-right: 8px;
}

.dashboard .side-nav .social-icon {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%);
    font-size: 25px;
    display: flex;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

    a:hover {
        color: black;
    }

.dashboard .main-content .content {
    width: 80vw;
    margin-left: 21vw;
    display: block;
}

p {
    color: gold;
    display: block;
}

.main-content {
    color: black;
    display: block;
}

header {
    font-size: 22px;
    text-align: center;
    line-height: 60px;
    background-color: coral;
}

.main-content {
    width: 100%;
    position: center;
    margin-left: 120px;
    text-align: center;
    background-color: #063146;
}

h2 {
    color: #8000ff;
    font-weight: 800;
    text-align: center;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
    margin-left: 3%;
}

h3 {
    color: white;
    font-weight: 800;
    text-align: center;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
    margin-left: 3%;
}

h4 {
    
    font-size: 15px;
}

.any {
    margin-left: 0px;
    margin-right: 20px;
    display: contents;
    padding-top: 20px;
}

